<a href="https://colab.research.google.com/github/macorony/Data_Engineering_Learning/blob/main/Data_Engineering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Objective
Learning bits and pieces of important theory and concept

# Day1
Data engineering ecosystem
1. Data
2. Data stores and repositories
3. Data pipeline
4. Analytics and data driven decision making

What is data engineering?
Building, architecting, design, implementing data stores and repositories, data lakes and gathering, importing, cleaning, pre-processing, querying, and analyzing data. Also monitoring, evaluating, optimizing and fine tuning the process

# Day2 
The features of Python
1. high-level programming language focusing on readability, coherence and productivity. Python code is typically much less than the equivalent C++ or Java. That means less to type, less to debug and less to maintain.
2. Most Python programes run unchanged on different computer platform porting Python code between Linux and Windows. 
3. A large collection of standard libraries. The Numpy extension is a free and more powerful equivalent to the Matlab numeric programming system.
4. Python can be better described as a general purpose programming language that blends procedural, functional, and object-oriented paradigms.
5. Relative lower execution speed compared to compiled and lower-level languages.Because Python compiles source code into an intermediated format known as byte code and then interpret the byte code, a platform-independent format.

How Python interpreter works
1. An interpreter is a program that executes other programs. Technically, the interpreter is a layer of software logic between your code and the computer hardward. 
2. Under the hood, Python compiles source code into a byte code. The byte code of the programs is stored in the files with *.pyc* extension.
3. Sourcr changes: Python automatically checks the last-modified timestamps of source and byte code files to know whne it must recompile.
4. If Python cannot write the byte code files to your machine, the program still works. The byte code is generated in memory and simply discarded on program exit. 
5. Once the program has been compiled to byte code, it is forwarded to execution by Python Virtual Machine. In fact, the PVM is a big loop that iterates through the byte code instructions. The PVM is the runtime engine of Python presenting as part of the Python system, and it truly runs your scripts.
6. Python byte code is not binary machine code, it is a Python-specific representation. This is why some Python code may not run as fast as C or C++ code. The byte code instructions require more work than CPU instructions. On the other hand, unlike in classic intepreters, there is still an internal compile step.

# Day3

The Python Conceptual Hierarchy
1. Programs are composed of modules.
2. Modules contain statements.
3. Statements contain expressions.
4. Expressions created and process objects.

Why Built-in Types?
1. Built-in objects make programs easy to write.
2. Built-in objects are components of extensions.
3. Built-in objects are often more efficient than custom data structures.
4. Built-in objects are a standard part of the language.

Core Data Types
1. Number
2. String
3. List
4. Dictionary
5. Tuple
6. File
7. Set
8. Boolean
9. Program unit types such as function, modules, classes
10. Implementation-related types such as compiled code, stack traceback

We call these core data types because they effetively built into the Python language. Once you create an object, you bind its operation set for all time. So Python is dynmically typed, a model that keeps track of types for you automatically instead of requiring declaration code, but it also constraint what you can perform on an object.

Numbers
1. integers
2. floating-point 
3. complexe
4. decimal
5. rational

There are some numeric modules such as *math* and *random*

In [1]:
import math
math.pi
import random
random.random()
random.choice([1,2,3,4])

3

a string is sequence of one-character. Sequences maintain a left-to-right order among the items they contain: their itesm are stored and fetched by their relative position.

In [2]:
s='lunch'
len(s)

5

In [3]:
print(s[-1])
print(s[-2])

h
c

Immutability
1. Of notice were not changing the original string with any of the operations we ran on it. strings are immutable in Python, they cannot be change in place after they are created. You can never overwrite the values of immutable objects.
2. numerbs, strings, tuples are immutable
3. lists, dictionaries and sets are mutable.

String Method

In [4]:
dir(s)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

Get helps

In [5]:
help(s.upper)

Help on built-in function upper:

upper() method of builtins.str instance
    Return a copy of the string converted to uppercase.

Pattern Matching
None of the string object's own methods support pattern-based text processing.

In [6]:
import re
match = re.match('Hello[ \t]*(.*)world', 'Hello   Python world')
match

# Day4

In [7]:
# Return a copy of the string with the first character capitalized
a = 'complete python course'
print(a.capitalize())

Complete python course

In [8]:
# Return the string centered in a string of given length
a = 'Python'
b = a.center(11, '*')
print(b)

***Python**

In [9]:
# Return a casefolded copy of the string 
a = 'PYTHON'
print(a.casefold())
print(a)

python
PYTHON

In [10]:
# Return true if the string ends with the given suffix
a = 'common sense'
print(a.endswith('x'))
print(a.endswith('se'))

False
True

In [11]:
# Return the first occurrence's index
a = 'extraordinary'
print(a.find('t'))

2

In [12]:
# Similar to the find method, except that it raises ValueError when not found
a = 'operationsaaa'
print(a.index('a'))
print(a.index('i'))

4
6

In [13]:
# Return True if all characters in the string are all alphabetic and numeirc
a = '4567'
d = '46ye'
print(a.isalnum())
print(d.isalnum())

True
True

In [14]:
# Return True if all characters are all alphabetic 
a = 'abded1980'
b = 'aldkei'
print(a.isalpha())
print(b.isalpha())

False
True

In [15]:
# Return True if decimal
a = '3.14'
b = math.pi
c = '15'
print(a.isdecimal())
print(c.isdecimal())

False
True

In [16]:
# Return True if all characters are digits
a = '3/14'
b = '46456'
print(a.isdigit())
print(b.isdigit())

False
True

In [17]:
# Return a concatenated string 
a = '$$'
b = 'which'
print(a.join(b))
print(b.join(a))

w$$h$$i$$c$$h
$which$

In [18]:
# Return 3-component tuple from splitted string by the given character 
a = "complete.python-course-thanks"
print(a.partition("-"))
print(a.partition("."))

('complete.python', '-', 'course-thanks')
('complete', '.', 'python-course-thanks')

In [19]:
# 
a = 'string method, , collection'
print(a.split(","))

['string method', ' ', ' collection']

In [20]:
# Return a copy of the string with leading and trailing characters removed.
a = '$$$$$$example$$$$'
print(a.strip("$"))
print(a)

example
$$$$$$example$$$$

In [21]:
# Return a copy of the string with uppercase converted to lowercase and vice versa
a = 'Hello, substring'
print(a.swapcase())

hELLO, SUBSTRING

In [22]:
# Return a copy 
a = "$$$$$perlsleiw$$$$"
print(a.lstrip("$"))

perlsleiw$$$$

# Day5

**Python F string**
1. used to embed python expressions inside string literals for formatting, using minimal syntax.
2. It's an expression that' evaluated at the run time. 
3. They use {} brackets to evaluate values
4. f-strings are faster than %-formatting and str.format()

In [23]:
def max_no(x,y):
  return x if x>y else y
f = 12
s = 25
print(f'Max of {f} and {s} is {max(f, s)}')

Max of 12 and 25 is 25

Bitwise Operator

Bitwise AND
1. The bitwise AND operator (&) perfroms logical conjunction on the corresponding bits of its operands. For each piar of bits occupying the same position in the two numbers, it returns a one only when both bits are swithed on
2. The resulting bit pattern is an intersection of the operator's arguments.
3. Arithmetically, this is equivalent to a product of two bit values.

# Day6

Bitwise OR
1. It performs logical disjunction. For each corresponding pair of bits, it returns a one if at least one of them is switched on.
2. Only a combination of two zeros gives a zero in the final output

Bitwise XOR
1. There is no logical counterpart in Python. 
2. It evaluates two mutually exclusive conditions and tells you whether exactly one of them is met.
3. Every bit pair must contain opposing bit values to produce a one.

In [24]:
# A simulation for bitwise XOR
def xor(a, b):
  return (a and not b) or (not a and b)

Bitwise NOT
1. It performs logical negation on a given number by flipping all of its bits.

In [25]:
x = 1001
y = 1010
print(x & y)
print(x | y)
print(~y)
print(x^y)

992
1019
-1011
27

Chaining comparision operators with logical operators
> In accordance with associativity and precedence in Python, all comparison operations have the same priority.

In [26]:
a, b, c, d, e, f, g = 10, 15, 2, 1, 45, 25, 19
e1 = a <= b < c > d < e is not f is g
e2 = a is d < f is c
print(e1)
print(e2)

False
False

## Day7

**Python List**
1. items can be any data type
2. Items are ordered, changeable, and allow duplicate values

In [27]:
# Appending and Extending lists in Python 
days = ['monday', 'tuesday', 'wednesday', 'thursday']
days.append('fridays')
days.extend(['saturday'])

In [28]:
days

['monday', 'tuesday', 'wednesday', 'thursday', 'fridays', 'saturday']

In [29]:
# Delete/Remove Lists Elements
del days[2]
print(days)

['monday', 'tuesday', 'thursday', 'fridays', 'saturday']

In [30]:
days.remove('tuesday')
print(days)

['monday', 'thursday', 'fridays', 'saturday']

In [31]:
days.pop(2)
print(days)

['monday', 'thursday', 'saturday']

In [33]:
# Sort items in a list in ascending order
month = ['jan', 'feb', 'mar', 'apr', 'may', 'jun']
month.sort()
print(month)

['apr', 'feb', 'jan', 'jun', 'mar', 'may']

In [34]:
month.reverse()
print(month)

['may', 'mar', 'jun', 'jan', 'feb', 'apr']

In [35]:
# A copy of the list
month_copy = month.copy()
print(month_copy)

['may', 'mar', 'jun', 'jan', 'feb', 'apr']

In [39]:
# Insert item at a disired location
month.insert(0, 'jun')
print(month)

['jun', 'jun', 'may', 'mar', 'jun', 'jan', 'feb', 'jun', 'jun', 'apr']

**List Comprehension**


> In python, list comprehension is used to created a new list based on the values of an existing list in the most elegant and shortest way.

In [41]:
sqr = [2**x for x in range(20)]
print(sqr)

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024, 2048, 4096, 8192, 16384, 32768, 65536, 131072, 262144, 524288]

**Python Dictionaries**

In [50]:
# Use keys or get method to access elements from dictionary
var = {'first': 'sunday', 'second':'monday', 'third':'tuesday'}
print(var['first'])
print(var.get('first'))

sunday
sunday

In [55]:
# Add new items or change the value of existing items using an = operator
var['second'] = 'friday'
print(var)
var['fourth'] = 'saturday'
print(var)

{'first': 'sunday', 'second': 'friday', 'third': 'tuesday', 'fourth': 'saturday'}
{'first': 'sunday', 'second': 'friday', 'third': 'tuesday', 'fourth': 'saturday'}

In [57]:
# Remove elements using pop() or popitem() method
var.pop('third')
print(var)

{'first': 'sunday', 'second': 'friday', 'fourth': 'saturday'}

In [58]:
var.popitem()

('fourth', 'saturday')

In [61]:
# Returns a new dictionary with keys from seq and value equal to t
subjects = {}.fromkeys(['first', 'second', 'third', 'forth'])
print(subjects)

{'first': None, 'second': None, 'third': None, 'forth': None}

In [65]:
# setdefault() method returns the value of a key. if not there, it inserts key with a value to the dictionary.
var.setdefault('first')
var.setdefault('fifth')
print(var)

{'first': 'sunday', 'second': 'friday', 'fifth': None}

In [67]:
# Nested dictionary
people = {'subject':{0:'math', 1:'english', 2:'physics'}, 
          'marks':{0:90, 1:95, 2:89}}
print(people)

{'subject': {0: 'math', 1: 'english', 2: 'physics'}, 'marks': {0: 90, 1: 95, 2: 89}}