<a href="https://colab.research.google.com/github/macorony/Data_Engineering_Learning/blob/main/Data_Engineering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Objective
Learning bits and pieces of important theory and concept

# Day1
Data engineering ecosystem
1. Data
2. Data stores and repositories
3. Data pipeline
4. Analytics and data driven decision making

What is data engineering?
Building, architecting, design, implementing data stores and repositories, data lakes and gathering, importing, cleaning, pre-processing, querying, and analyzing data. Also monitoring, evaluating, optimizing and fine tuning the process

# Day2 
The features of Python
1. high-level programming language focusing on readability, coherence and productivity. Python code is typically much less than the equivalent C++ or Java. That means less to type, less to debug and less to maintain.
2. Most Python programes run unchanged on different computer platform porting Python code between Linux and Windows. 
3. A large collection of standard libraries. The Numpy extension is a free and more powerful equivalent to the Matlab numeric programming system.
4. Python can be better described as a general purpose programming language that blends procedural, functional, and object-oriented paradigms.
5. Relative lower execution speed compared to compiled and lower-level languages.Because Python compiles source code into an intermediated format known as byte code and then interpret the byte code, a platform-independent format.

How Python interpreter works
1. An interpreter is a program that executes other programs. Technically, the interpreter is a layer of software logic between your code and the computer hardward. 
2. Under the hood, Python compiles source code into a byte code. The byte code of the programs is stored in the files with *.pyc* extension.
3. Sourcr changes: Python automatically checks the last-modified timestamps of source and byte code files to know whne it must recompile.
4. If Python cannot write the byte code files to your machine, the program still works. The byte code is generated in memory and simply discarded on program exit. 
5. Once the program has been compiled to byte code, it is forwarded to execution by Python Virtual Machine. In fact, the PVM is a big loop that iterates through the byte code instructions. The PVM is the runtime engine of Python presenting as part of the Python system, and it truly runs your scripts.
6. Python byte code is not binary machine code, it is a Python-specific representation. This is why some Python code may not run as fast as C or C++ code. The byte code instructions require more work than CPU instructions. On the other hand, unlike in classic intepreters, there is still an internal compile step.

# Day3

The Python Conceptual Hierarchy
1. Programs are composed of modules.
2. Modules contain statements.
3. Statements contain expressions.
4. Expressions created and process objects.

Why Built-in Types?
1. Built-in objects make programs easy to write.
2. Built-in objects are components of extensions.
3. Built-in objects are often more efficient than custom data structures.
4. Built-in objects are a standard part of the language.

Core Data Types
1. Number
2. String
3. List
4. Dictionary
5. Tuple
6. File
7. Set
8. Boolean
9. Program unit types such as function, modules, classes
10. Implementation-related types such as compiled code, stack traceback

We call these core data types because they effetively built into the Python language. Once you create an object, you bind its operation set for all time. So Python is dynmically typed, a model that keeps track of types for you automatically instead of requiring declaration code, but it also constraint what you can perform on an object.

Numbers
1. integers
2. floating-point 
3. complexe
4. decimal
5. rational

There are some numeric modules such as *math* and *random*

In [81]:
import math
math.pi
import random
random.random()
random.choice([1,2,3,4])

3

a string is sequence of one-character. Sequences maintain a left-to-right order among the items they contain: their itesm are stored and fetched by their relative position.

In [82]:
s='lunch'
len(s)

5

In [83]:
print(s[-1])
print(s[-2])

h
c

Immutability
1. Of notice were not changing the original string with any of the operations we ran on it. strings are immutable in Python, they cannot be change in place after they are created. You can never overwrite the values of immutable objects.
2. numerbs, strings, tuples are immutable
3. lists, dictionaries and sets are mutable.

String Method

In [84]:
dir(s)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

Get helps

In [85]:
help(s.upper)

Help on built-in function upper:

upper() method of builtins.str instance
    Return a copy of the string converted to uppercase.

Pattern Matching
None of the string object's own methods support pattern-based text processing.

In [86]:
import re
match = re.match('Hello[ \t]*(.*)world', 'Hello   Python world')
match

# Day4

In [87]:
# Return a copy of the string with the first character capitalized
a = 'complete python course'
print(a.capitalize())

Complete python course

In [88]:
# Return the string centered in a string of given length
a = 'Python'
b = a.center(11, '*')
print(b)

***Python**

In [89]:
# Return a casefolded copy of the string 
a = 'PYTHON'
print(a.casefold())
print(a)

python
PYTHON

In [90]:
# Return true if the string ends with the given suffix
a = 'common sense'
print(a.endswith('x'))
print(a.endswith('se'))

False
True

In [91]:
# Return the first occurrence's index
a = 'extraordinary'
print(a.find('t'))

2

In [92]:
# Similar to the find method, except that it raises ValueError when not found
a = 'operationsaaa'
print(a.index('a'))
print(a.index('i'))

4
6

In [93]:
# Return True if all characters in the string are all alphabetic and numeirc
a = '4567'
d = '46ye'
print(a.isalnum())
print(d.isalnum())

True
True

In [94]:
# Return True if all characters are all alphabetic 
a = 'abded1980'
b = 'aldkei'
print(a.isalpha())
print(b.isalpha())

False
True

In [95]:
# Return True if decimal
a = '3.14'
b = math.pi
c = '15'
print(a.isdecimal())
print(c.isdecimal())

False
True

In [96]:
# Return True if all characters are digits
a = '3/14'
b = '46456'
print(a.isdigit())
print(b.isdigit())

False
True

In [97]:
# Return a concatenated string 
a = '$$'
b = 'which'
print(a.join(b))
print(b.join(a))

w$$h$$i$$c$$h
$which$

In [98]:
# Return 3-component tuple from splitted string by the given character 
a = "complete.python-course-thanks"
print(a.partition("-"))
print(a.partition("."))

('complete.python', '-', 'course-thanks')
('complete', '.', 'python-course-thanks')

In [99]:
# 
a = 'string method, , collection'
print(a.split(","))

['string method', ' ', ' collection']

In [100]:
# Return a copy of the string with leading and trailing characters removed.
a = '$$$$$$example$$$$'
print(a.strip("$"))
print(a)

example
$$$$$$example$$$$

In [101]:
# Return a copy of the string with uppercase converted to lowercase and vice versa
a = 'Hello, substring'
print(a.swapcase())

hELLO, SUBSTRING

In [102]:
# Return a copy 
a = "$$$$$perlsleiw$$$$"
print(a.lstrip("$"))

perlsleiw$$$$

# Day5

**Python F string**
1. used to embed python expressions inside string literals for formatting, using minimal syntax.
2. It's an expression that' evaluated at the run time. 
3. They use {} brackets to evaluate values
4. f-strings are faster than %-formatting and str.format()

In [103]:
def max_no(x,y):
  return x if x>y else y
f = 12
s = 25
print(f'Max of {f} and {s} is {max(f, s)}')

Max of 12 and 25 is 25

Bitwise Operator

Bitwise AND
1. The bitwise AND operator (&) perfroms logical conjunction on the corresponding bits of its operands. For each piar of bits occupying the same position in the two numbers, it returns a one only when both bits are swithed on
2. The resulting bit pattern is an intersection of the operator's arguments.
3. Arithmetically, this is equivalent to a product of two bit values.

# Day6

Bitwise OR
1. It performs logical disjunction. For each corresponding pair of bits, it returns a one if at least one of them is switched on.
2. Only a combination of two zeros gives a zero in the final output

Bitwise XOR
1. There is no logical counterpart in Python. 
2. It evaluates two mutually exclusive conditions and tells you whether exactly one of them is met.
3. Every bit pair must contain opposing bit values to produce a one.

In [104]:
# A simulation for bitwise XOR
def xor(a, b):
  return (a and not b) or (not a and b)

Bitwise NOT
1. It performs logical negation on a given number by flipping all of its bits.

In [105]:
x = 1001
y = 1010
print(x & y)
print(x | y)
print(~y)
print(x^y)

992
1019
-1011
27

Chaining comparision operators with logical operators
> In accordance with associativity and precedence in Python, all comparison operations have the same priority.

In [106]:
a, b, c, d, e, f, g = 10, 15, 2, 1, 45, 25, 19
e1 = a <= b < c > d < e is not f is g
e2 = a is d < f is c
print(e1)
print(e2)

False
False

## Day7

**Python List**
1. items can be any data type
2. Items are ordered, changeable, and allow duplicate values

In [107]:
# Appending and Extending lists in Python 
days = ['monday', 'tuesday', 'wednesday', 'thursday']
days.append('fridays')
days.extend(['saturday'])

In [108]:
days

['monday', 'tuesday', 'wednesday', 'thursday', 'fridays', 'saturday']

In [109]:
# Delete/Remove Lists Elements
del days[2]
print(days)

['monday', 'tuesday', 'thursday', 'fridays', 'saturday']

In [110]:
days.remove('tuesday')
print(days)

['monday', 'thursday', 'fridays', 'saturday']

In [111]:
days.pop(2)
print(days)

['monday', 'thursday', 'saturday']

In [112]:
# Sort items in a list in ascending order
month = ['jan', 'feb', 'mar', 'apr', 'may', 'jun']
month.sort()
print(month)

['apr', 'feb', 'jan', 'jun', 'mar', 'may']

In [113]:
month.reverse()
print(month)

['may', 'mar', 'jun', 'jan', 'feb', 'apr']

In [114]:
# A copy of the list
month_copy = month.copy()
print(month_copy)

['may', 'mar', 'jun', 'jan', 'feb', 'apr']

In [115]:
# Insert item at a disired location
month.insert(0, 'jun')
print(month)

['jun', 'may', 'mar', 'jun', 'jan', 'feb', 'apr']

**List Comprehension**


> In python, list comprehension is used to created a new list based on the values of an existing list in the most elegant and shortest way.

In [116]:
sqr = [2**x for x in range(20)]
print(sqr)

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024, 2048, 4096, 8192, 16384, 32768, 65536, 131072, 262144, 524288]

**Python Dictionaries**

In [117]:
# Use keys or get method to access elements from dictionary
var = {'first': 'sunday', 'second':'monday', 'third':'tuesday'}
print(var['first'])
print(var.get('first'))

sunday
sunday

In [118]:
# Add new items or change the value of existing items using an = operator
var['second'] = 'friday'
print(var)
var['fourth'] = 'saturday'
print(var)

{'first': 'sunday', 'second': 'friday', 'third': 'tuesday'}
{'first': 'sunday', 'second': 'friday', 'third': 'tuesday', 'fourth': 'saturday'}

In [119]:
# Remove elements using pop() or popitem() method
var.pop('third')
print(var)

{'first': 'sunday', 'second': 'friday', 'fourth': 'saturday'}

In [120]:
var.popitem()

('fourth', 'saturday')

In [121]:
# Returns a new dictionary with keys from seq and value equal to t
subjects = {}.fromkeys(['first', 'second', 'third', 'forth'])
print(subjects)

{'first': None, 'second': None, 'third': None, 'forth': None}

In [122]:
# setdefault() method returns the value of a key. if not there, it inserts key with a value to the dictionary.
var.setdefault('first')
var.setdefault('fifth')
print(var)

{'first': 'sunday', 'second': 'friday', 'fifth': None}

In [123]:
# Nested dictionary
people = {'subject':{0:'math', 1:'english', 2:'physics'}, 
          'marks':{0:90, 1:95, 2:89}}
print(people)

{'subject': {0: 'math', 1: 'english', 2: 'physics'}, 'marks': {0: 90, 1: 95, 2: 89}}

In [124]:
# Return a new sorted list of keys in the dictionary
sorted(var)

['fifth', 'first', 'second']

In [125]:
# Iterate through dictionary
dict1 = {0:'sunday', 1:'monday', 2:'tuesday', 3:'wednesday', 4:'thursday'}
for i in dict1.items():
  print(i)

(0, 'sunday')
(1, 'monday')
(2, 'tuesday')
(3, 'wednesday')
(4, 'thursday')

In [126]:
# Dictionary comprehension
cubes = {x: x*x*x for x in range(10)}
print(cubes)

{0: 0, 1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729}

In [127]:
# update() method: updates the dictionary with elements from another dictionary object or from any other key/value pairs
dict1 = {0:'zero', 4:'four', 5:'five'}
dict2 = {2:'two'}
dict1.update(dict2)
print(dict1)

{0: 'zero', 4: 'four', 5: 'five', 2: 'two'}

**Python Tuple**
> tuples are immutable while lists are mutable

In [128]:
tuple1 = (250, 'what', 'char', 87)
type(tuple1)

tuple

**Python Sets**
1. A set is a collection of objects which is unindexed and unordered.
2. There are no duplicate elements in the items.

In [129]:
# Removing elements
set1 = {10, 15, 20, 25, 30}
set1.discard(10)
print(set1)

{15, 20, 25, 30}

In [130]:
set1.remove(15)
print(set1)

{20, 25, 30}

In [131]:
set1.pop()
print(set1)

{25, 30}

In [132]:
# Set operations
x = {10, 20, 30, 40, 50}
y = {60, 70, 80, 90, 100}
z = {20, 60, 80, 40, 100}

In [133]:
# Union
print(x|y|z)

{100, 70, 40, 10, 80, 50, 20, 90, 60, 30}

In [134]:
# Intersection
print(x&y&z)

set()

In [135]:
# Difference
print(x-z)

{10, 50, 30}

In [136]:
print(x^y^z)

{70, 10, 50, 90, 30}

In [137]:
X = {10, 20, 30, 40, 50}
Y = {40, 50, 60, 70, 80}
Z = {20, 30, 100, 50, 10}
print("Set Symmetric Difference:", X^Y)

Set Symmetric Difference: {80, 20, 70, 10, 60, 30}

# Day8

**Loops in Python**

In [138]:
# for loop
price = 200
if price > 150:
  print('Price is greated than 150')
elif price == 150:
  print('Price is 150')
else:
  print('Price is less than 150')

Price is greated than 150

In [139]:
# while loop
i = 1
while i < 6:
  print('less than 6')
  i += 1
else:
  print('larger than or equal 6')

less than 6
less than 6
less than 6
less than 6
less than 6
larger than or equal 6

**Break statement**
* In python, we can use break statement when we want to terminate the current loop without checking test condition.
* Once terminated using the break statement, the control of the program goes to the statement immediatedly after the body of the loop.
* Break is to terminate for loop so It must be inside loop.

In [140]:
count = 0
while True:
  print(count)
  count += 1
  if count >= 10:
    break

0
1
2
3
4
5
6
7
8
9

In [141]:
for i in range(16):
  if i > 8:
    print(i)
    break

9

**Continue statement**
* Use continue statement when to skip the rest of the code for the current loop iteration.

In [142]:
for x in range(15):
  if x % 2 == 0:
    continue
  print(x)

1
3
5
7
9
11
13

**Input in python**
* raw_input() function reads one line from user input and return it as a string. 
* input() function is similar to raw_input, except it evaluates the user expression.

**Output in python**
* Output by print() function and string literals are used to format the output.

In [143]:
# number = input("Enter the number:")

**Object Oriented Programming**
* In python everything is a object. An object has two characteristics: Attributes and Behavior.
* Class and constructor is a blueprint for the object. In python we use the class keyword to define class.
* Method is a function associated with an object.
* Inheritance specifies that the child object acquires all the properties and behaviors of the parent object. 
* Polymorphism refers to functions having the same names but carrying different functionalities.
* Encapsulation to prevent data from direct modification.

In [144]:
# Define a class
class cat:
  def __init__(self, cat_name, cat_breed):
    self.name = cat_name
    self.age = cat_breed

In [145]:
# Class attribute and Instance Attribute
class emp:
  x =10
  def __init__(self):
    self.name = 'Steve'
    self.salary = 10000
  def display(self):
    print(self.name)
    print(self.salary)
emp_object = emp()
vars(emp_object)

{'name': 'Steve', 'salary': 10000}

**Private Variables in Python**

In python, a variable is a named location used to store or hold the value/data in the memory.
* When create a variable inside a function, it is local by default.
* We create private variables by using underscore_ before a named prefix.

There are three ways to implement private variables:
* _single leading underscore
* __double leading underscore
* __double leading and double trailing underscore

In [146]:
class test:
  def __init__(self, num):
    self._num = num
  def _numfunc(self):
    print('hello')

obj = test(156)
obj._numfunc()

hello

In [147]:
class myClass:
  __privateVar = 27
  def __privMeth(self):
    print("I am insideclass myClass")
  def hello(self):
    print("Private Variable value", myClass.__privateVar)

foo = myClass()
foo.hello()

Private Variable value 27

From the example, we can not access the private method and private variable. However, inside the class we can access the private variable. In the hello() method, the private variable can be acessed.

In [148]:
# Private variable
class test:
  def __init__(self, num):
    self.__num = num
  def print(self):
    print(self.__num)
obj = test(160)
obj.print()

160

# Day9

**Python Scope and Namespace**

In Python, the concept of scope is closely related that of the namespace. Python scope determines where a name is visible and python scope is implemented as dictionaries mapping names to objects. These dictionaries are commonly called namespace.

In [149]:
import sys
sys.__dict__.keys()

dict_keys(['__name__', '__doc__', '__package__', '__loader__', '__spec__', 'breakpointhook', 'callstats', '_clear_type_cache', '_current_frames', 'displayhook', 'exc_info', 'excepthook', 'exit', 'getdefaultencoding', 'getdlopenflags', 'getallocatedblocks', 'getfilesystemencoding', 'getfilesystemencodeerrors', 'getrefcount', 'getrecursionlimit', 'getsizeof', '_getframe', 'intern', 'is_finalizing', 'setcheckinterval', 'getcheckinterval', 'setswitchinterval', 'getswitchinterval', 'setdlopenflags', 'setprofile', 'getprofile', 'setrecursionlimit', 'settrace', 'gettrace', 'call_tracing', '_debugmallocstats', 'set_coroutine_origin_tracking_depth', 'get_coroutine_origin_tracking_depth', 'set_coroutine_wrapper', 'get_coroutine_wrapper', 'set_asyncgen_hooks', 'get_asyncgen_hooks', 'get_int_max_str_digits', 'set_int_max_str_digits', '__displayhook__', '__excepthook__', '__breakpointhook__', 'version', 'hexversion', '_git', '_framework', 'api_version', 'copyright', 'platform', 'maxsize', 'float_info', 'int_info', 'hash_info', 'maxunicode', 'builtin_module_names', 'byteorder', 'abiflags', 'version_info', 'implementation', 'flags', 'float_repr_style', 'thread_info', 'modules', 'stderr', '__stderr__', 'meta_path', 'path_importer_cache', 'path_hooks', 'path', 'executable', 'prefix', 'base_prefix', 'exec_prefix', 'base_exec_prefix', 'argv', 'warnoptions', '_xoptions', 'dont_write_bytecode', '__stdin__', 'stdin', '__stdout__', 'stdout', '_home', '__interactivehook__', 'ps1', 'ps2', 'ps3'])

This returns a list with all the names defined at the top level of the module.

**Global and non local variables in python**


> It is local variable by default when we create a variable inside a function. If outside of a function, it is global by default.

> We can define a variable outside a function and use the variable inside the function or we can define a variable by statement global inside a function and use it outside function.

In [150]:
# local variable
def test():
  l = 'local variable'
  return l

var=test()

print(var)

local variable

In [151]:
# global variable
var = 10
def test2():
  var = 20
  print('value of variable', var)
var2 = test2()
var2

value of variable 20

**First Class functions in Python**

Functions are treated like any other variable.

In [152]:
def inner(a):
  return a

def outer(b):
  return(inner(b))

outer(8)

8

In [153]:
def outer(num):
  def inner(num_inner):
    return(num_inner)
  return(inner(num))

In [154]:
outer(10)

10

**Tuple Unpacking with Python Functions**

In python, tumples are immutable data types. Python offers a very powerful tuple assignment tool that maps right hand side arguments into left side arguments.

In [155]:
def result(a, b):
  return(a+b)
print(result(100,200))

300

In [156]:
c = (300,400)
print(result(*c))

700

In [157]:
print(*c)

300 400

**Static Method**
> Static method is similar to class level method. 

> Static method is bound to a class rather than a object. 

> Static method can not modify the state of an object

In [158]:
class Calculator:
  def addNumbers(x, y):
    return(x + y)
Calculator.addNumbers = staticmethod(Calculator.addNumbers)

Calculator.addNumbers(100, 50)

150

In [159]:
class calculator:
  @staticmethod
  def addNumbers(x, y):
    return(x + y)
calculator.addNumbers(90, 60)

150

**Lambda Functions in Python**

The keyword "Lambda" is used to created anonymous functions. It is only allowed one expression.

In [160]:
x = lambda a, b, c: a* b +c
x(1,2,3)

5

**Map and Filter Functions in Python**

> The map() function applies the given to each item of a given iterable construct and returns a map object.

> The filter() function returns a iterators when the items are filtered through a function to test if the items is true or not.

In [165]:
days = ['sunday', 'monday', 'tuesday', 'wednesday']
mod_days = list(map(str.swapcase, days))
mod_days

['SUNDAY', 'MONDAY', 'TUESDAY', 'WEDNESDAY']

In [169]:
marks = [60, 70, 80, 80, 90, 20]
def stud(score):
  return score == 80
list(filter(stud, marks))

[80, 80]

**Time Series**

In [1]:
import pandas as pd
df = pd.DataFrame({"Date": [
            pd.Timestamp("2000-01-02"),
            pd.Timestamp("2000-01-02"),
            pd.Timestamp("2000-01-09"),
            pd.Timestamp("2000-01-16")
        ],
        "ID": [0, 1, 2, 3], 
        "Price": [10, 20, 30, 40]}
)

In [9]:
print(df.groupby(pd.Grouper(key='Date', freq='d')).sum())
print(df.groupby(pd.Grouper(key='Date', freq='w')).sum())

            ID  Price
Date
2000-01-02   1     30
2000-01-03   0      0
2000-01-04   0      0
2000-01-05   0      0
2000-01-06   0      0
2000-01-07   0      0
2000-01-08   0      0
2000-01-09   2     30
2000-01-10   0      0
2000-01-11   0      0
2000-01-12   0      0
2000-01-13   0      0
2000-01-14   0      0
2000-01-15   0      0
2000-01-16   3     40
            ID  Price
Date
2000-01-02   1     30
2000-01-09   2     30
2000-01-16   3     40

**Magic Method in Python**

> The special methods that start and end with double underscores.

> Magic methods are not meant to be invoked directly by you, but the invocation happens internally fromthe class on a certain action. For example, when add two numbers using the + operator, the "__add__()" method will be called.

In [2]:
num = 10
print(num + 5)
print(num.__add__(5))

15
15

In [3]:
class Employee:
  def __new__(cls):
    print('__new__ magic method is called')
    inst = object.__new__(cls)
    return inst
  def __init__(self):
    print('__init__magic method is called')
    self.name = 'Sanyong'
emp = Employee()

__new__ magic method is called
__init__magic method is called

In [19]:
class Employee:
  def __init__(self):
    self.name = 'Nancy'
    self.salary = 90000
  def __str__(self):
    return('Name:'+self.name+', Salary:'+str(self.salary))
emp1 = Employee()

In [20]:
print(emp1)

Name:Nancy, Salary:90000

**Inhertance in Python**

* Using inheritance you can use or inherit all the data fields and methods available in the parent class. 
* On top of it, you can add you own methods and data fields.

In [31]:
class Vehicle:
  def __init__(self, name, color):
    self.__name = name
    self.__color = color
  def getColor(self):
    return self.__color
  def setColor(self, color):
    self.__color = color
  def getName(self):
    return self.__name
  
class Bike(Vehicle):
  def __init__(self, name, color, model):
    super().__init__(name, color)
    self.__model = model
  def getDetails(self):
    return self.getName() + self.__model + " in " + self.getColor() + " color"

In [32]:
mybike = Bike("giant", "red", "mountain")
mybike.getDetails()

'giantmountain in red color'

**Polymorphism in Python**
* In python, polymorphism allows us to define method in the child class with the same name as defined in their parent class.